In [3]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Collecting kaggle
  Downloading kaggle-1.5.16.tar.gz (83 kB)
     |████████████████████████████████| 83 kB 2.8 MB/s eta 0:00:01
Requirement already satisfied: tqdm in /home/pinku/miniconda3/lib/python3.8/site-packages (from opendatasets) (4.51.0)
Requirement already satisfied: click in /home/pinku/miniconda3/lib/python3.8/site-packages (from opendatasets) (8.1.3)
Requirement already satisfied: six>=1.10 in /home/pinku/miniconda3/lib/python3.8/site-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /home/pinku/miniconda3/lib/python3.8/site-packages (from kaggle->opendatasets) (2023.7.22)
Requirement already satisfied: python-dateutil in /home/pinku/miniconda3/lib/python3.8/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /home/pinku/miniconda3/lib/python3.8/site-packages (from kaggle->opendatasets) (2.24.0)
Collecting python-slugify
  Downloading python_slugify-8.0.1-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: urllib3 in /home/pinku/miniconda3/lib/python3.8/site-packages (from kaggle->opendatasets) (1.25.11)
Requirement already satisfied: bleach in /home/pinku/miniconda3/lib/python3.8/site-packages (from kaggle->opendatasets) (6.0.0)
Requirement already satisfied: webencodings in /home/pinku/miniconda3/lib/python3.8/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 2.6 MB/s eta 0:00:01
Requirement already satisfied: idna<3,>=2.5 in /home/pinku/miniconda3/lib/python3.8/site-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/pinku/miniconda3/lib/python3.8/site-packages (from requests->kaggle->opendatasets) (3.0.4)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.16-py3-none-any.whl size=110684 sha256=5c1797270d537d7c099ff3b8f4233d4d0871e905ef9a983d2cf811266aa9c87d
  Stored in directory: /home/pinku/.cache/pip/wheels/5a/ab/50/e224f599a07faf6d398a8600796012da271b7e5e7f2a3ab2b8
Successfully built kaggle
Installing collected packages: text-unidecode, python-slugify, kaggle, opendatasets
Successfully installed kaggle-1.5.16 opendatasets-0.1.22 python-slugify-8.0.1 text-unidecode-1.3
WARNING: You are using pip version 21.1.3; however, version 23.2.1 is available.
You should consider upgrading via the '/home/pinku/miniconda3/bin/python -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import opendatasets as od

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [8]:
od.download(
    "https://www.kaggle.com/datasets/kapturovalexander/bank-credit-scoring/bank.csv"
)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: prantoran
Your Kaggle Key: ········

100%|████████████████████████████████████████| 182k/182k [00:00<00:00, 4.18MB/s]

Downloading bank-credit-scoring.zip to ./bank-credit-scoring

In [23]:
filepath = 'bank-credit-scoring/bank.csv'

In [24]:
df = pd.read_csv(filepath, sep=';')

In [26]:
df.head().T

                    0          1           2           3            4
age                30         33          35          30           59
job        unemployed   services  management  management  blue-collar
marital       married    married      single     married      married
education     primary  secondary    tertiary    tertiary    secondary
default            no         no          no          no           no
balance          1787       4789        1350        1476            0
housing            no        yes         yes         yes          yes
loan               no        yes          no         yes           no
contact      cellular   cellular    cellular     unknown      unknown
day                19         11          16           3            5
month             oct        may         apr         jun          may
duration           79        220         185         199          226
campaign            1          1           1           4            1
pdays              -1        339         330          -1           -1
previous            0          4           1           0            0
poutcome      unknown    failure     failure     unknown      unknown
y                  no         no          no          no           no