In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv('housing.csv')

In [10]:
len(df.columns)

10

In [11]:
df2 = df.dropna(how='all')

In [14]:
df2.loc[:, df2.isnull().any()]

       total_bedrooms
0               129.0
1              1106.0
2               190.0
3               235.0
4               280.0
...               ...
20635           374.0
20636           150.0
20637           485.0
20638           409.0
20639           616.0

[20640 rows x 1 columns]

In [16]:
df.ocean_proximity.nunique()

5

In [17]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [25]:
df[df.ocean_proximity == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

In [22]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [23]:
df.ocean_proximity == 'ocean_proximity'

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: ocean_proximity, Length: 20640, dtype: bool

In [26]:
df.w

AttributeError: 'DataFrame' object has no attribute 'w'